<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Configure your setup. -->
  <appSettings>
    <add key="Username" value="[YourTapoRegistrationEmail]"/>
    <add key="Password" value="[YourTapoRegistrationPassword]"/>
    <add key="IpAddress" value="[YourTapoSwitchIPOnTheLAN]"/>
    <add key="ShutdownTimeoutSeconds" value="2"/>
  </appSettings>
</configuration>